{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react",
    "react-native",
    "flowtype",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      1, { "extensions": [".js", ".jsx"] }
    ],
    "react/prefer-stateless-function": [
      2, { "ignorePureComponents": true }
    ],
    "react/forbid-prop-types": [0, { "forbid": [] }],
    "react/destructuring-assignment": [1, "always", { "ignoreClassFields": true }],
    "import/extensions": [1, "never", { "svg": "always" }],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "global-require": 0,
    "semi": ["error", "always"],
    "comma-dangle": ["error", "always-multiline"]
  },
  "env": {
    "jest": true
  }
}